name: Production - Build and Deploy Site

on:
  push:
    branches:
      - production

jobs:
  build-and-deploy-site:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'
          extended: true

      - name: Build site with Hugo
        run: hugo --minify --baseURL="${{ secrets.PROD_DOMAIN }}"

      - name: Check HTML
        uses: chabad360/htmlproofer@master
        with:
          directory: "./public"
          arguments: --only_4xx --assume_extension --ignore_empty_alt --disable_external
        continue-on-error: true

      - name: FTP Deployer
        uses: sand4rt/ftp-deployer@v1.7
        with:
          sftp: true # optional
          host: ${{ secrets.SFTP_SERVER }} # e.g. ftp.host.com or sftp.host.com (without ftp:// or ftps://)
          port: 22 # optional, default is: 21
          username: ${{ secrets.SFTP_USERNAME }} # FTP username
          password: ${{ secrets.SFTP_PASSWORD }} # FTP password
          remote_folder: ${{ secrets.SFTP_REMOTE_PATH_PROD }} # optional, remote path of your FTP server
          local_folder: ./public # optional, local path, default is: dist
          cleanup: true # optional, remove existing files inside FTP remote folder
          include: '["**/*"]' # optional, e.g. '['dist']'
          exclude: '[]' # optional, e.g. '['node_modules/**', '.git/**', '*.env']'
